body{
    background-color: rgb(160, 63, 100);
    color: black;
    font-family: serif;
    font-style: italic;
}

h1{
    color:black;
    background-color: antiquewhite;
}

#show_sketch{
    float:right;
}

#timer{
    float:right;
}

#score{
    float:left;
}



canvas{
    border:5px solid white ;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
font-size: 25px;
}